# Python
.venv/
__pycache__/
*.py[cod]
*.sqlite3

# Environment files
build/
staticfiles/
.mypy_cache/
.ruff_cache/

.env
.env.*
**/.env.*
!.env.example
!**/.env.example

# Frontend dependencies and builds
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
